@{
    ViewData["Title"] = "CreateEvent";
}

@model Eventease.Models.EventModel

<h1>@ViewData["Title"]</h1>






<form method="post" asp-action="CreateEvent" asp-controller="Event">
   <!-- <input type="hidden" name="EventId" class="form-control" placeholder="0" asp-for="EventId" />-->
    <div>
        <label asp-for="EventName" class="mt-4">EventName</label>
        <input class="form-control" type="text" placeholder="EventName" asp-for="EventName" />
        <span asp-validation-for="EventName" class="text-danger"></span>
    </div>
    <div>
        <label class="mt-4">VenueId</label>
        <input class="form-control" type="text" placeholder="VenueID" asp-for="VenueId" />
        <span asp-validation-for="VenueId" class="text-danger"></span>
    </div>
    <div>
        <label class="mt-4">EventDescription</label>
        <input class="form-control" type="text" placeholder="EventDescription" asp-for="EventDescription" />
        <span asp-validation-for="EventDescription" class="text-danger"></span>
    </div>
    <div>
        <label class"mt-4">EventDate</label>
        <input class="form-control" type="date" placehoder="Date" asp-for="EventDate" />
        <span asp-validation-for="EventDate" class="text-danger"></span>
    </div>
    <button class="btn btn-primary mt-4" type="submit">Submit</button>
</form>

<!--Jquery frontend validation script
<!--section Scripts {
    <partial name="_ValidationScriptsPartial" />
}-->

