@{
    ViewData["Title"] = "DeletBooking";
}

@model Eventease.Models.BookingModel

<h1>@ViewData["Title"]</h1>






<form method="post" asp-action="DeleteBooking" asp-controller="Home">
    <div>
        <label asp-for="BookingName" class="mt-4">BookingName</label>
        <input class="form-control" type="text" placeholder="BookingName" asp-for="BookingName" />
        <span asp-validation-for="BookingName" class="text-danger"></span>
    </div>
    <div>
        <label class="mt-4">VenueId</label>
        <input class="form-control" type="text" placeholder="VenueID" asp-for="VenueId" />
        <span asp-validation-for="VenueId" class="text-danger"></span>
    </div>
    <div>
        <label class="mt-4">EventId</label>
        <input class="form-control" type="number" placeholder="EventID" asp-for="EventId" />
        <span asp-validation-for="EventId" class="text-danger"></span>
    </div>
    <div>
        <label class"mt-4">BookingDate</label>
        <input class="form-control" type="date" placehoder="Date" asp-for="BookingDate" />
        <span asp-validation-for="BookingDate" class="text-danger"></span>
    </div>
    <button class="btn btn-primary mt-4" type="submit">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}