@{
    ViewData["Title"] = "Venue";
}
<h1>@ViewData["Title"]</h1>

<p>Use the page to search for Venues.</p>
<body>
    <a class="btn btn-primary" asp-controller="Venue" asp-action="Venueview">Add a Venue</a>
    <a class="btn btn-primary" asp-controller="Venue" asp-action="DisplayVenues">Display all Venues</a>
</body>