@model Eventease.Models.EventModel

@{
    ViewData["Title"] = "Edit Event";
}

<h1>Edit Event</h1>

<hr />

<form asp-action="Edit">
    <input type="hidden" asp-for="EventId" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mb-3">
        <label asp-for="VenueId" class="control-label"></label>
        <input asp-for="VenueId" class="form-control" />
        <span asp-validation-for="VenueId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="EventName" class="control-label"></label>
        <input asp-for="EventName" class="form-control" />
        <span asp-validation-for="EventName" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="EventDescription" class="control-label"></label>
        <textarea asp-for="EventDescription" class="form-control"></textarea>
        <span asp-validation-for="EventDescription" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="EventDate" class="control-label"></label>
        <input asp-for="EventDate" type="date" class="form-control" />
        <span asp-validation-for="EventDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}